@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,500;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.65;
    color: "#374151";
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

body {
    font-size: 1.4rem;

    a {
        display: block;
        color: #3d3d3d;
        text-decoration: none;
    }

    input {
        outline: none;
    }
}

.container {
    position: relative;
    top: 91px;
    background-color: #f5f5fa;
}

.max-w-layout {
    max-width: 1334px;
    margin: 0 auto;
    padding: 0 12px;
}

.icon-loading {
    animation: rotate 0.6s linear infinite;

    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }
}
//
.btn-active {
    position: relative;
    font-size: 1.66rem;
    font-weight: 600;
    color: #1e88de;

    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 3px;
        border-radius: 3px;
        background-color: #1475c5;
    }
}

// Slider
.swiper-button-prev,
.swiper-button-next {
    width: 36px !important;
    height: 36px !important;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);

    &::after {
        font-size: 16px !important;
        color: #fff;
    }
}

//
.text-vertical {
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.vertical-1 {
    -webkit-line-clamp: 1;
}
.vertical-2 {
    -webkit-line-clamp: 2;
}
.vertical-3 {
    -webkit-line-clamp: 3;
}
.vertical-4 {
    -webkit-line-clamp: 4;
}

// flex
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
